.ant-layout-header{
  height: 100px;
  background: #FFF;
}
.ant-layout-footer {
  color: #fff;
  background: #7dbcea;
}

.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-content {
  min-height: 900px;
  color: #fff;
  line-height: 120px;
  background: rgba(16, 142, 233, 1);
}
