.ant-layout-header{
  height: 100px;
  background: #FFF;
}
.ant-layout-footer {
  color: #fff;
  background: #7dbcea;
}

.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-footer h1{
  text-align: center;
  color : pink;
  font-weight: bolder;
  font-family: cursive;
}

.ant-layout-content {
  min-height: 900px;
  color: #fff;
  background: #DDD;
}
