.column-wrapper {
  width: 100%;
  min-height: 300px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.column-title-wrapper {
  background: rgb(44, 223, 148);
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.column-title {
  padding: 15px;
  color: black;
  font-weight: bold;
}
.column-body-wrapper{
    background: brown;
    min-height: 200px;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}