.avatar{
    margin-top: 20px;
    left: 25%;
    filter: drop-shadow(2px 2px 5px rgb(65, 65, 65));
}

.user h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    margin: 30px 0px;
}