.content-wrapper #register-title{
    text-align: right;
    text-transform: uppercase;
    font-size: 50px;
    font-style: oblique;
    color: #333;
    font-weight: 800;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.content-wrapper .register-form-wrapper{
    padding-right: 20px;
}