
    body{
        background-image: url("../img/pexels-lukas-590041.jpg");
       background-size: 100% 800px ;
       
    }
    img.background
button.btn.btn-info{

  padding-left: 200px;
}
.logo{
    float: left;
    margin: -20px 0px 0px -30px;
}

.txtslogan
{
    font-family:cursive;
    margin-top: 100px;
    padding-left:5%;
    text-shadow: 5px 2px 4px grey;
    font-weight: bold;
}
#slogan1{
    font-size: 36px;
    color: white;
    font-weight: bold;
    
}
#slogan2
{   color: black;
    font-size: 24px;
    font-weight: bold;
}
/* modal nut dang ki nhanh */
.quick{
    margin-left: 10%;
    margin-top: 30px;
    
    
}

.modal-body input{
  width: 100% !important;
 margin-top:10px;
}
.form-control{
    float: left !important;
    padding: 10px;
    font-style: italic;
    border-radius: 5px;
    width: 30%;
    border: 0px solid gray;
}
.btn.btn-success{
    margin-left: 0.5%;
    float: left !important;
    color: white !important;
    font-weight: bold !important;
    
}
.option{
    float: right !important;
    font-weight: bold;
    margin-top: -60px;
   margin-right: 100px;
}

.btn.btn-light{
    margin-left: 28% !important;
    font-weight: bold;
    color: gray;
}


/* modal nut dang nhap */
.container input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.container button[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.cancelbtn {
    color: white;
    font-weight: bold;
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  border: none;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar {
  width: 30%;
  border-radius: 50%;
}
.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
.modal {
 /*  display: none; 
  position: fixed;
  z-index: 1;  */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  
}
.modal-content-nav {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  border: 1px solid #888;
  width: 40%; 
}


.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


